:root {
  --main-color: #3193C4;
  --font-black:  #333333;
}

.navbar {
  background-color: var(--main-color);
}

.navbar a {
  float: left; 
  display: block;
  color: white; 
  text-align: center;
  padding: 16px 16px; 
  text-decoration: none; 
}

.navbar a:hover {
  color: white;
  text-decoration: underline; 
}

body {
  font-family: 'Fira Sans', sans-serif; 
}

.navbar a:active {
  color: white;
  text-decoration: underline; 
}

.navbar a:visited {
  color: white;
  text-decoration: underline; 
}

.navbar-nav .nav-link.active {
  color: white;
  text-decoration: underline; 
}

.navbar-nav .nav-link.focus {
  color: white;
}

.navbar-nav .nav-link.active:hover {
  color: white;
}

.emphasize {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}

a {
  text-decoration: none; 
  color: var(--main-color);
}

.responsive-iframe {
  width: 100%; 
  height: 800px; 
}

/* For mobile phones */
@media (max-width: 480px) {
  .responsive-iframe {
      height: 1000px;
  }
}

@media screen and (max-width: 375px) {
  .navbar a {
    padding: 8px;
  }
}

/* Custom footer styling */
.custom-footer {
  text-align: center;
  font-size: smaller;
}

.custom-footer .copyright {
    margin-bottom: 8px; 
}

.custom-footer a {
  color: black;
  text-decoration: none;
  margin-right: 16px;
}

.custom-footer a:hover {
  text-decoration: underline;
}

.custom-footer a:last-child {
    margin-right: 0; 
}

/* Remove default footer */
.footer {
  display: none;
}