.navbar a {
  float: left; /* Float the links side by side */
  display: block;
  color: white; /* Set the text color */
  text-align: center;
  padding: 14px 16px; /* Adjust padding as needed */
  text-decoration: none; /* Remove underline */
}

body {
  font-family: 'Open Sans', sans-serif;
}
