body {
  background-color: #3b9ab2;
}

#centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  text-align: center;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3b9ab2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}