h1 {
  padding-top: 8px;
  padding-bottom: 16px;
}
  
h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  border-bottom: 0px;
  padding-bottom: 0px;
}
  
/*=============== CONTACT ===============*/
#form-container {
  position: relative;
}

#contact-form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: auto;
}

#contact-form label {
  margin-top: 16px;
  margin-bottom: 8px;
}

#contact-form input[type=text],
#contact-form input[type=email],
#contact-form textarea {
  border: 1px solid #3b9ab2;
  border-radius: 8px; 
  padding: 16px;
  font-size: 16px;
  max-width: 100%;
}

#contact-form input[type=submit] {
  margin-top: 16px;
  border-radius: 8px;
  padding: 16px;
  background-color: #3b9ab2;
  color: white;
  border: none;
  cursor: pointer;
  max-width: 160px;
}

#contact-form input[type=submit]:hover {
  background-color: #333;
}

#toast {
  display: none;
  position: absolute;
  bottom: 50%; 
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  z-index: 1000; 
}

p#toast-message {
  margin-bottom: 0px;
}