.navbar a {
  float: left; 
  display: block;
  color: white; 
  text-align: center;
  padding: 14px 16px; 
  text-decoration: none; 
}

body {
  font-family: 'Fira Sans', sans-serif; 
}

.emphasize {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}

a {
  text-decoration: none; 
  color: #3b9ab2;
}

.responsive-iframe {
  width: 100%; 
  height: 800px; 
}

/* For mobile phones */
@media (max-width: 480px) {
  .responsive-iframe {
      height: 1000px;
  }
}

@media screen and (max-width: 375px) {
  .navbar a {
    padding: 8px;
  }
}

/* Custom footer styling */
.custom-footer {
  text-align: center;
  font-size: smaller;
}

.custom-footer .copyright {
    margin-bottom: 8px; 
}

.custom-footer a {
  color: black;
  text-decoration: none;
  margin-right: 16px;
}

.custom-footer a:hover {
  text-decoration: underline;
}

.custom-footer a:last-child {
    margin-right: 0; 
}
